@font-face {
  font-family: 'HarryP';
  src: url('fonts/harryp.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #fff, #ffeaf4);
  color: #333;
  text-align: center;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.decor-img {
  width: 70px;
  height: auto;
}

.header-text {
  flex: 1;
}

.titulo {
  font-family: 'Great Vibes', cursive;
  font-size: 3em;
  color: #37582D;
  margin: 0;
}

.gab {
  font-family: 'HarryP', serif;
  font-size: 3.5em;
  color: #423880;
  text-align: center;
  margin-top: 10px;
}


.header-center {
  flex: 1;
  text-align: center;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.decor-img {
  width: 70px;
  height: auto;
}



.subtitulo {
  font-size: 1.2em;
  margin: 15px 0;
}

.gift-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto 30px;
}

.gift-box {
  width: 100px;
  height: 100px;
  perspective: 800px;
  cursor: pointer;
}

.box-body {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #f08fb2, #ffbdd8);
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: transform 1s;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  overflow: hidden;
}

.lid {
  position: absolute;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, #d94f8a, #ff7aa3);
  top: 0;
  left: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform-origin: top;
  transition: transform 0.8s ease-in-out;
  z-index: 2;
}

.box-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.gift-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
  border-radius: 10px;
  background: #fff;
}

.gift-box.open .lid {
  transform: rotateX(-120deg);
}

.gift-box.open .gift-image {
  display: block;
}

.dedicatoria {
  font-size: 1.1em;
  margin-top: 40px;
  font-style: italic;
  color: #a64c7d;
}
